/* block.css */
div.github-analizer-block {
  border: 1px LightSkyBlue solid;
  border-left-width: 5px;
  padding: 10px 15px;
  margin: 30px;
}

div.github-analizer-block.notice-success {
  border-color: MediumSpringGreen;
}

div.github-analizer-block.notice-danger {
  border-color: LightCoral;
}

div.github-analizer-block h4 {
  font-size: 18px;
  margin: 0 0 10px 0;
}

div.github-analizer-block p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
