/* block.css */
div.github-analizer-block {
	border: 1px darkgray solid;
	border-left-width: 5px;
	padding: 10px 15px;
	margin: 30px;
}

.github-analizer-block .results {
	display: none;
	padding: 10px;
}

.github-analizer-block .results div.header {
	border-bottom: 0.1rem solid gray;
}

.github-analizer-block .results div.header span.total {
	float: right;
}

.github-analizer-block .results ul {
	max-height: 20rem;
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	background: lightgrey;
	padding: 0.5rem 2rem;
	display: block;
	position: relative;
}

.github-analizer-block .results ul li {
	list-style: none;
	text-align: right;
	border-bottom: 0.1rem solid gray;
	padding: 1rem 0;
	padding-right: 5rem;
	cursor: pointer;
}

.github-analizer-block .results ul li img {
	width: 3rem;
	margin-left: 0;
	display: block;
	position: absolute;
}
